<div class="container mt-3 p-3">
    <h1 class="text-center">Enter your expenses</h1>

    <form action="/records" method="POST">
        <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="name" placeholder="" value="{{name}}"
                   required>
        </div>

        <div class="form-group">
            <label for="category">Category*：</label>
            <select name="category" class="form-select rounded-0 " id="category"  value="{{category}}" required>
                <option selected disabled> Select Category</option>
                <option value="Home & Utilities">Home & Utilities</option>
                <option value="Transportation">Transportation</option>
                <option value="Leisure & Entertainment">Leisure & Entertainment</option>
                <option value="Restaurant & Dining">Restaurant & Dining</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="date">Date*</label>
            <input type="date" class="form-control" name="date" id="date" placeholder="" value="{{ date}}" required>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" name="amount" id="amount" min="1" max="99999" placeholder="" value="{{amount}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>

</div>